@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=PT+Serif:ital@1&family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=PT+Serif:ital@1&family=Rajdhani:wght@600&display=swap');

body::-webkit-scrollbar{
    width: 10px;

}
body::-webkit-scrollbar-thumb{
    background: #A5C9CA;
    border-radius: 5px;
}

div.row {
    margin-right: 0px;
}
  
div.container-fluid {
    padding-right: 0px;
}




.logo{
    width: 100px;
    opacity: 0.9;
    border-radius: 82px 82px 82px 82px;
}

#catalago{
    background-color: #E7F6F2;
    padding-left: 2%;
    text-align: justify;
    
}
.card-body{
    background-color: #FFF1BC;
    
    
}
#carta:hover {
    -webkit-box-shadow: -24px 9px 22px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -24px 9px 22px -6px rgba(0,0,0,0.75);
box-shadow: -24px 9px 22px -6px rgba(0,0,0,0.75);

}
.card-text{
    font-family: Helvetica, Sans-Serif;
}



#contenido{
    background-color: #E1FFEE;
    font-style: italic;
}

#carta img{
	max-width: 100%;
	border-radius: 10px;
}
#carta:hover img{
    transform: scale(1.1);
    
   
}
.contact{
    background-color: #152e38b2;
}
footer{
    width: 100%;

    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer img{
    border-radius: 22px;
}
.logo2{
    height: 80px;
    margin-bottom: 1rem;
}
.footer-menu-container{
    display: block;
   
    
    margin-bottom: 1rem;
    padding: 1rem;

}
